<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary2.Properties.Settings.QuanLyNhanSuConnectionString"
            connectionString="Data Source=DESKTOP-URMOUHG\PHUC;Initial Catalog=QuanLyNhanSu;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>